button {
    color: black;
    border-radius: 5px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

h1 {
    text-align: center;
    color: black;
    font-size: 2em;
    margin-bottom: 20px;
    background-color: blueviolet;
}

table {
    background-color: azure;
    color: black
}

